
<%- include('partial/filter'); %>


<%- include('partial/balanceEtc'); %>

<div class="row">
    <div class="container-fluid col-xl-8 ">
      <div class="row ">
        
      <!--
        <ul class="nav nav-tabs">
          <li class="nav-items">
            <a href="#chart1" class="nav-link active" role="tab" data-toggle="tab">Chart 1</a>
          </li>
          <li class="nav-items">
            <a href="#chart2" class="nav-link" role="tab" data-toggle="tab">Chart 2</a>
          </li>
          <li class="nav-items">
            <a href="#chart3" class="nav-link" role="tab" data-toggle="tab">Chart 3</a>
          </li>
        </ul>
        
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="chart1"><%- include('partial/doughnutChart') %></div>
          <div role="tabpanel" class="tab-pane fade" id="chart2"><%- include('partial/radarChart') %></div>
          <div role="tabpanel" class="tab-pane fade" id="chart3">3</div>
        </div>
      -->
      
      
        <div class="col-md-6">
          <%- include('partial/doughnutChart') %>
        </div>
  
        <div class="col-md-6">
          <%- include('partial/radarChart') %>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12"><%- include('partial/latestTransactions'); %></div>
      </div>
    </div>
  
    <div class="col-xl-4 ">
      <%- include('partial/toDoList')%>
    </div>
  </div>
  





