<div class="col-md-12">
    <div class="m-b-15">
      <h1>Transaction History</h1>
      <hr />
      <br>
    </div>
    
      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Category</th>
                <th>Mode</th>
                <th>Amount</th>
                <th>Comments</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            <% for( let i = 0; i < transactionData.length; i++ ) { %>
              <tr>
                <td><%- transactionData[i].date %> </td>
                <td><%- transactionData[i].type %> </td>
                <td><%- transactionData[i].category %> </td>
                <td><%- transactionData[i].mode %> </td>
                <td>$<%- transactionData[i].amount.toFixed(2) %></td>
                <td><%- transactionData[i].comment %> </td>
                <td> 
                </td>   
              </tr>
            <% } %>
        </tbody>
      </table>
   
</div>













<!--
            <tr>
                <td>2011/04/25</td>
                <td>$20.00</td>
                <td>Entertainments</td>
                <td>For my own desire</td>
                <td>
                  <a href="#" class="text-decoration-none"
                    ><i class="fas fa-edit"></i
                  ></a>
                  &nbsp;
                  <a
                    href="javascript:void(0)"
                    id="delete-id"
                    class="text-decoration-none"
                    ><i class="fas fa-trash-alt"></i></a>
            </tr>
            <tr>
              <td>2011/04/11</td>
              <td>$20.00</td>
              <td>Entertainments</td>
              <td>For my own desire</td>
              <td>
                <a href="#" class="text-decoration-none"
                  ><i class="fas fa-edit"></i
                ></a>
                &nbsp;
                <a
                  href="javascript:void(0)"
                  id="delete-id"
                  class="text-decoration-none"
                  ><i class="fas fa-trash-alt"></i></a>
          </tr>

          <tr>
            <td>2011/04/12</td>
            <td>$20.00</td>
            <td>Entertainments</td>
            <td>For my own desire</td>
            <td>
              <a href="#" class="text-decoration-none"
                ><i class="fas fa-edit"></i
              ></a>
              &nbsp;
              <a
                href="javascript:void(0)"
                id="delete-id"
                class="text-decoration-none"
                ><i class="fas fa-trash-alt"></i></a>
        </tr>

        <tr>
          <td>2011/04/13</td>
          <td>$20.00</td>
          <td>Entertainments</td>
          <td>For my own desire</td>
          <td>
            <a href="#" class="text-decoration-none"
              ><i class="fas fa-edit"></i
            ></a>
            &nbsp;
            <a
              href="javascript:void(0)"
              id="delete-id"
              class="text-decoration-none"
              ><i class="fas fa-trash-alt"></i></a>
      </tr>

      <tr>
        <td>2011/04/14</td>
        <td>$20.00</td>
        <td>Entertainments</td>
        <td>For my own desire</td>
        <td>
          <a href="#" class="text-decoration-none"
            ><i class="fas fa-edit"></i
          ></a>
          &nbsp;
          <a
            href="javascript:void(0)"
            id="delete-id"
            class="text-decoration-none"
            ><i class="fas fa-trash-alt"></i></a>
    </tr>

    <tr>
      <td>2011/04/15</td>
      <td>$20.00</td>
      <td>Entertainments</td>
      <td>For my own desire</td>
      <td>
        <a href="#" class="text-decoration-none"
          ><i class="fas fa-edit"></i
        ></a>
        &nbsp;
        <a
          href="javascript:void(0)"
          id="delete-id"
          class="text-decoration-none"
          ><i class="fas fa-trash-alt"></i></a>
  </tr>

  <tr>
    <td>2011/04/12</td>
    <td>$20.00</td>
    <td>Entertainments</td>
    <td>For my own desire</td>
    <td>
      <a href="#" class="text-decoration-none"
        ><i class="fas fa-edit"></i
      ></a>
      &nbsp;
      <a
        href="javascript:void(0)"
        id="delete-id"
        class="text-decoration-none"
        ><i class="fas fa-trash-alt"></i></a>
</tr>

<tr>
    <td>2011/04/12</td>
    <td>$20.00</td>
    <td>Entertainments</td>
    <td>For my own desire</td>
    <td>
      <a href="#" class="text-decoration-none"
        ><i class="fas fa-edit"></i
      ></a>
      &nbsp;
      <a
        href="javascript:void(0)"
        id="delete-id"
        class="text-decoration-none"
        ><i class="fas fa-trash-alt"></i></a>
</tr>

<tr>
    <td>2011/04/12</td>
    <td>$20.00</td>
    <td>Entertainments</td>
    <td>For my own desire</td>
    <td>
      <a href="#" class="text-decoration-none"
        ><i class="fas fa-edit"></i
      ></a>
      &nbsp;
      <a
        href="javascript:void(0)"
        id="delete-id"
        class="text-decoration-none"
        ><i class="fas fa-trash-alt"></i></a>
</tr>

<tr>
    <td>2011/04/12</td>
    <td>$20.00</td>
    <td>Entertainments</td>
    <td>For my own desire</td>
    <td>
      <a href="#" class="text-decoration-none"
        ><i class="fas fa-edit"></i
      ></a>
      &nbsp;
      <a
        href="javascript:void(0)"
        id="delete-id"
        class="text-decoration-none"
        ><i class="fas fa-trash-alt"></i></a>
</tr>

<tr>
    <td>2011/04/12</td>
    <td>$20.00</td>
    <td>Entertainments</td>
    <td>For my own desire</td>
    <td>
      <a href="#" class="text-decoration-none"
        ><i class="fas fa-edit"></i
      ></a>
      &nbsp;
      <a
        href="javascript:void(0)"
        id="delete-id"
        class="text-decoration-none"
        ><i class="fas fa-trash-alt"></i></a>
</tr>

<tr>
    <td>2011/04/12</td>
    <td>$20.00</td>
    <td>Entertainments</td>
    <td>For my own desire</td>
    <td>
      <a href="#" class="text-decoration-none"
        ><i class="fas fa-edit"></i
      ></a>
      &nbsp;
      <a
        href="javascript:void(0)"
        id="delete-id"
        class="text-decoration-none"
        ><i class="fas fa-trash-alt"></i></a>
</tr>

<tr>
    <td>2011/04/12</td>
    <td>$20.00</td>
    <td>Entertainments</td>
    <td>For my own desire</td>
    <td>
      <a href="#" class="text-decoration-none"
        ><i class="fas fa-edit"></i
      ></a>
      &nbsp;
      <a
        href="javascript:void(0)"
        id="delete-id"
        class="text-decoration-none"
        ><i class="fas fa-trash-alt"></i></a>
</tr>

<tr>
    <td>2011/04/12</td>
    <td>$20.00</td>
    <td>Entertainments</td>
    <td>For my own desire</td>
    <td>
      <a href="#" class="text-decoration-none"
        ><i class="fas fa-edit"></i
      ></a>
      &nbsp;
      <a
        href="javascript:void(0)"
        id="delete-id"
        class="text-decoration-none"
        ><i class="fas fa-trash-alt"></i></a>
</tr>

<tr>
    <td>2011/04/12</td>
    <td>$20.00</td>
    <td>Entertainments</td>
    <td>For my own desire</td>
    <td>
      <a href="#" class="text-decoration-none"
        ><i class="fas fa-edit"></i
      ></a>
      &nbsp;
      <a
        href="javascript:void(0)"
        id="delete-id"
        class="text-decoration-none"
        ><i class="fas fa-trash-alt"></i></a>
</tr>

<tr>
    <td>2011/04/12</td>
    <td>$20.00</td>
    <td>Entertainments</td>
    <td>For my own desire</td>
    <td>
      <a href="#" class="text-decoration-none"
        ><i class="fas fa-edit"></i
      ></a>
      &nbsp;
      <a
        href="javascript:void(0)"
        id="delete-id"
        class="text-decoration-none"
        ><i class="fas fa-trash-alt"></i></a>
</tr>

<tr>
    <td>2011/04/12</td>
    <td>$20.00</td>
    <td>Entertainments</td>
    <td>For my own desire</td>
    <td>
      <a href="#" class="text-decoration-none"
        ><i class="fas fa-edit"></i
      ></a>
      &nbsp;
      <a
        href="javascript:void(0)"
        id="delete-id"
        class="text-decoration-none"
        ><i class="fas fa-trash-alt"></i></a>
</tr>

<tr>
    <td>2011/04/12</td>
    <td>$20.00</td>
    <td>Entertainments</td>
    <td>For my own desire</td>
    <td>
      <a href="#" class="text-decoration-none"
        ><i class="fas fa-edit"></i
      ></a>
      &nbsp;
      <a
        href="javascript:void(0)"
        id="delete-id"
        class="text-decoration-none"
        ><i class="fas fa-trash-alt"></i></a>
</tr>

        </tbody>
    </table>
  </div>
-->